.main-container {
    width: 80%;
    padding-left: 10%;
    text-align: center;
}

#dataLoad {
    margin-top: 5%; 
    margin-left: 10%;
}

#chartSelect {
    margin-top: 5%;
}

.chart {
    width: 1100px;
    height: 1100px;
}